/**
 * Radio Group Component Styles
 */

:where(.uix-radio-group, uix-radio-group) {
  display: inline-flex;

  &::part(container) {
    display: flex;
    flex-direction: column;
    gap: var(--radio-group-gap, 0.75rem);
  }

  /* Horizontal orientation */
  &[orientation="horizontal"]::part(container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
