:where(.uix-table, uix-table) {
  --table-header-background-color: var(--colors-default-100);
  --table-background-color: #fff;
  --table-cell-hover-color: var(--colors-primary-200);
  --table-border-color: var(--colors-default-500);
  --table-cell-padding: 1rem;
  width: var(--table-width, 100%);
  display: table;
  background-color: var(--table-background-color);
  border-color: var(--table-border-color);

  .uix-table__header-group {
    display: table-header-group;
  }

  .uix-list {
    display: table-row;

    &[header] > * {
      font-weight: var(--font-bold, 700);
      text-transform: uppercase;
    }

    > * {
      display: table-cell;
      padding: var(--table-cell-padding);
      text-align: var(--table-text-align, center);
    }

    &:not([header]):hover {
      background-color: var(--table-cell-hover-color);
    }

    &[header] {
      background-color: var(--table-header-background-color);
      text-align: var(--table-row-text-align, center);
    }
  }

  .uix-table__row-group {
    background-color: var(--table-background-color, var(--color-surface));
    display: table-row-group;
  }
}
