/**
 * UIX Popover Controller Styles
 * Base styles for popover-based components
 */

.uix-popover-controller {
  position: fixed;
  z-index: 10000;
  display: none;
}

.uix-popover-controller[data-open] {
  display: flex;
  flex-direction: column;
}
