/**
 * UIX Popover Controller Styles
 * Base styles for popover-based components
 */

:where(.uix-popover-controller, uix-popover-controller) {
  position: fixed;
  z-index: 10000;
  display: none;

  &[data-open] {
    display: flex;
    flex-direction: column;
  }
}
